.chatOnline{

}
.chatOnlineFriend{
    display:flex;
    align-items: center;
    cursor:pointer;
    font-weight: 500;
    margin-top:10px;
}
.chatOnlineImgContainer{
   position: relative;
   width: 32px;;
    height: 32px;
}
.chatOnlineImg{
    width: 32px;;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.chatOnlineBadge{
position: absolute;
height: 10px;
width: 10px;
border-radius: 50%;
background-color: limegreen;
top:0;
right:0;
}
.chatOnlineName{

}
